<html>
    <head>
        <title>Personal Website</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no, minimum-scale=1.0, maximum-scale=1.0" />
        
        <link href="https://fonts.googleapis.com/css2?family=Khand:wght@500&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap" rel="stylesheet"> 
        <link href="https://fonts.googleapis.com/css2?family=Russo+One&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="css/style.css">
    </head>
    <body>
        <div>
            <section class="header">
                <header>
                    <ul>
                        <li><a href="#">About me</a></li>
                        <li><a href="#">Experience</a></li>
                        <li><a href="#">Hobbies</a></li>
                    </ul>
                </header>
            </section>
            <section class="image">
                <img src="images/efrain.png" alt="Efrain Astudillo" width="300">
            </section>
            <section class="title">
                <h1>Software Engineer</h1>
            </section>
            <section class="paragraph">
                <p>
                    Hello, I am <span id="efrain"> Efrain Astudillo </span> who loves coffee in all its posible
                    presentations.
                </p>
                <p> I am a wanderer in this world but with a main purpose...to make of this world a 
                    better place to live.</p>
                <p>Let's do this while drinking a cup of coffee</p>
            </section>

            <section class="social">
                <p>work in progress... ;)</p>
            </section>
            <section class="copyright">
                <p>Copyright @ 2020. All rights reserved</p>
            </section>
        </div>
    </body>
</html>