body {
    background-color: #1A1A1D;
    padding: 0;
    margin: 0;
}

header ul {
    display: flex;
    justify-content: right;
}
header ul li {
    list-style: none;
}

header ul li a {
    font-family: 'Bebas Neue', cursive;
    font-size: x-large;
    color: #C3073F;
    text-decoration: none;
    display: inline-block;
    width: 120px;
}
section.image {
    text-align: center;
}
section.title h1 {
    font-family: 'Russo One', sans-serif;
    font-size: 44px;
    color: #dddddd;
    text-align: center;
}

section.paragraph p {
    font-family: 'Khand', sans-serif;
    color: #888888;
    font-size: 20px;
    text-align: center;
    margin: 0;
}

span#efrain {
    color: #C3073F;
}
section.social p {
    text-align: center;
}
section.copyright p {
    text-align: center;
}

section.header { height: 15vh;}
section.image { height: 35vh;}
section.title { min-height: 10vh;}
section.paragraph { height: 20vh;}
section.social {
    height: 3vh;
    color: #3a3a3a;
    font-size: 10px;
    font-family: 'Khand', sans-serif;
}
section.copyright {
    font-family: 'Khand', sans-serif;
    height: 3vh;
    color: #3a3a3a;
}

